node_modules
.DS_Store
.next/
.config/
.cursor/
.cursorrules
.windsurfrules
node_modules/
package-lock.json
public/
public/models/
public/textures/
public/videos/
public/images/
public/fonts/
public/icons/
public/og-image.png
public/favicon.ico
public/manifest.json