{
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "rangeStart": 0,
    "parser": "typescript", 
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": true,
    "overrides": [
      {
        "files": "*.{ts,tsx}",
        "options": {
          "parser": "typescript"
        }
      },
      {
        "files": "*.jsx",
        "options": {
          "parser": "babel"
        }
      },
      {
        "files": "*.{css,scss}",
        "options": {
          "singleQuote": false 
        }
      },
      {
        "files": "*.json",
        "options": {
          "parser": "json"
        }
      },
      {
        "files": "*.{glsl,vert,frag,vs,fs}",
        "options": {
          "parser": "glsl-parser" 
        }
      }
    ]
  }